body{
    background-color: #2b2b2b;
    color:#fff;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.app-header{
    background-color: #252525;
    padding-bottom: 12px;;
}
.app-name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-name .connectivity-status{
    height:8px;
    width:8px;
    background-color: rgb(32, 243, 190);
    border-radius:50%;
    margin-right: 5px;
}
hr{
    width: 250px;
    height: 2px;
    background-color: ivory;
    border: 0px solid ivory;
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu li{
    list-style-type: none;
    
}
.nav-menu span{
    margin: auto 8px;
}
.nav-menu li a{
    text-decoration: none;
    color: #fff;
}
.nav-menu li a:hover{
    text-decoration: none;
    color: rgb(32, 243, 190);
}
.app-body{
    padding-top:20px;
}
.body-component{
    display: none;
}
.body-component.show{
    display: block;
}
.myNotes .note{
    background-color: #252525;
    width:90%;
    margin: auto;
    padding:8px;
    border-radius: 12px;
    box-shadow: #111 15px 10px 18px;
}